/dist
temp
**/.DS_Store
**/.svn/
/*.project
va specific
*.class
target
target/*
*.lock
*.DS_Store
/cache
# Ignore Gradle cache and binary directories
.gradle
bin/

# Ignore Gradle build output directory
build

# Ignore lucee test runner
script-runner/