/dist
temp
**/.DS_Store
**/.svn/
/*.project
va specific
*.class
target
target/*
*.lock
*.DS_Store
/cache
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build