# Ignore various build outputs
dist
.gradle
bin
target
temp

# Ignore various temp files
**/.DS_Store
*.lock
*.DS_Store

# Ignore various dev artifacts
**/.svn/
/*.project
va specific
*.class
cache

# Ignore build.properties - this is meant to be developer-specific.
# Permanent build properties should be in the pom.xml.
build.properties